:root {
  /* surface */
  --cl-color-surface-r: var(--cl-color-surface-r-theme, 0);
  --cl-color-surface-g: var(--cl-color-surface-g-theme, 0);
  --cl-color-surface-b: var(--cl-color-surface-b-theme, 0);
  --cl-color-surface-a: var(--cl-color-surface-a-theme, 1);
  --cl-color-on-surface-r: var(--cl-color-on-surface-r-theme, 0);
  --cl-color-on-surface-g: var(--cl-color-on-surface-g-theme, 0);
  --cl-color-on-surface-b: var(--cl-color-on-surface-b-theme, 0);
  --cl-color-on-surface-a: var(--cl-color-on-surface-a-theme, 1);

  /* surface-variant */

  /* primary */
  --cl-color-primary: #000;
  --cl-color-on-primary: #000;
  --cl-color-primary-container: #000;
  --cl-color-on-primary-container: #000;
  --cl-color-secondary: #000;
  --cl-color-on-secondary: #000;
  --cl-color-secondary-container: #000;
  --cl-color-on-secondary-container: #000;

  /* tertiary */
  --cl-color-tertiary: #000;
  --cl-color-on-tertiary: #000;
  --cl-color-tertiary-container: #000;
  --cl-color-on-tertiary-container: #000;

  /* inverse */
  --cl-color-inverse-surface: #000;
  --cl-color-inverse-on-surface: #000;
  --cl-color-inverse-primary: #000;
}

* {
  --cl-elevation-global: max(var(--cl-elevation-global-1, 0), var(--cl-elevation-global-2, 0));
}

:not(.elevate) > .elevate {
  --cl-elevation-global-1: calc(var(--cl-elevation-local, 0) + var(--cl-elevation-global-2, 0));

  & > * {
    --cl-elevation-global-2: calc(var(--cl-elevation-local, 0) + var(--cl-elevation-global-1, 0));
  }

  & > .elevate {
    & > * {
      --cl-elevation-global-1: calc(var(--cl-elevation-local, 0) + var(--cl-elevation-global-2, 0));
    }

    & > .elevate {
      & > * {
        --cl-elevation-global-2: calc(var(--cl-elevation-local, 0) + var(--cl-elevation-global-1, 0));
      }
    }
  }
}
